In [1]:
library(lubridate)
library(lutz)

Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

In [3]:
location <- read.csv("Airport_with_Nearest_Station.csv")
head(location)

  AIRPORT AIRPORT_ID LATITUDE LONGITUDE  Closest_Station Closest_Distance
1 ABE     10135      40.65269  -75.44005 USW00014737     0.73352352
2 ABI     10136      32.41065  -99.68111 USW00013962     0.07424947
3 ABQ     10140      35.04000 -106.60828 USW00023050     0.69929265
4 ABR     10141      45.44829  -98.42218 USW00014929     1.08501454
5 ABY     10146      31.53389  -84.19528 USW00013869     0.28357518
6 ACK     10154      41.25370  -70.06014 USW00014756     0.11735123

In [4]:
location$Timezone <- sapply(1:nrow(location), function(i) {
  tz_lookup_coords(location$LATITUDE[i], location$LONGITUDE[i], method = "accurate")
})

In [5]:
airport_timezones <- location[, c("AIRPORT_ID", "Timezone")]
head(airport_timezones)
cat( nrow(airport_timezones))

  AIRPORT_ID Timezone
1 10135      America/New_York
2 10136      America/Chicago
3 10140      America/Denver
4 10141      America/Chicago
5 10146      America/New_York
6 10154      America/New_York

391

In [6]:
write.csv(airport_timezones, "airport_timezones.csv", row.names = FALSE)